USE [master]
GO
/****** Object:  Database [QL_QUANCAFE]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE DATABASE [QL_QUANCAFE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_QUANCAFE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QL_QUANCAFE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_QUANCAFE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QL_QUANCAFE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_QUANCAFE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_QUANCAFE]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [varchar](5) NOT NULL,
	[TENBAN] [nvarchar](10) NULL,
	[TINHTRANG] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALAMVIEC]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALAMVIEC](
	[MACA] [varchar](10) NOT NULL,
	[TENCA] [nvarchar](30) NULL,
	[GIOBD] [int] NULL,
	[GIOKT] [int] NULL,
	[THU] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MASP] [varchar](10) NOT NULL,
	[MAHD] [varchar](10) NOT NULL,
	[THANHTIEN] [float] NULL,
	[SL] [int] NULL,
	[GIAMGIA] [float] NULL,
 CONSTRAINT [PK_CHITIETHD] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHDN]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHDN](
	[MANL] [varchar](10) NOT NULL,
	[MAHDNHAP] [varchar](10) NOT NULL,
	[SOLUONGNHAP] [int] NULL,
	[THANHTIENNHAP] [float] NULL,
 CONSTRAINT [PK_CHITIETHDN] PRIMARY KEY CLUSTERED 
(
	[MANL] ASC,
	[MAHDNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [varchar](5) NOT NULL,
	[TENCV] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGTHUCPHACHE]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTHUCPHACHE](
	[MANL] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[DVT] [nvarchar](10) NULL,
	[DINHLUONG] [float] NULL,
 CONSTRAINT [PK_CONGTHUCPHACHE] PRIMARY KEY CLUSTERED 
(
	[MANL] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUOCKHUYENMAI]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUOCKHUYENMAI](
	[MASP] [varchar](10) NOT NULL,
	[MAKM] [varchar](10) NOT NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[ID] [varchar](10) NULL,
 CONSTRAINT [PK_DUOCKHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MABAN] [varchar](5) NULL,
	[MAKH] [varchar](10) NULL,
	[MANV] [varchar](10) NULL,
	[NGAYBAN] [date] NULL,
	[TONGTIEN] [float] NULL,
	[TINHTRANG] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MAHDNHAP] [varchar](10) NOT NULL,
	[MANCC] [varchar](10) NULL,
	[MANV] [varchar](10) NULL,
	[TONGTIENNHAP] [float] NULL,
	[NGAYNHAP] [date] NULL,
	[GHICHU] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[PHAI] [nvarchar](10) NULL,
	[SDTKH] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [varchar](10) NOT NULL,
	[TENSUKIEN] [nvarchar](50) NULL,
	[NOIDUNG] [nvarchar](50) NULL,
	[TILEKM] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANL] [varchar](10) NOT NULL,
	[TENNL] [nvarchar](30) NULL,
	[SOLUONGCON] [int] NULL,
	[HANSD] [date] NULL,
	[DONGIA] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[SDTNCC] [varchar](10) NULL,
	[DIACHINCC] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[MACV] [varchar](5) NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MACA] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PHANCONG] PRIMARY KEY CLUSTERED 
(
	[MACA] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[MALOAI] [varchar](10) NULL,
	[TENSP] [nvarchar](50) NULL,
	[SOLUONGCONLAI] [int] NULL,
	[DONVITINH] [nvarchar](10) NULL,
	[GIABAN] [float] NULL,
	[HINHANH] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENNGUOIDUNG] [varchar](20) NOT NULL,
	[MANV] [varchar](10) NULL,
	[MATKHAU] [varchar](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TINHTRANG]) VALUES (N'B01', N'Bàn 1', N'Trống')
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TINHTRANG]) VALUES (N'B02', N'Bàn 2', N'Trống')
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TINHTRANG]) VALUES (N'B03', N'Bàn 3', N'Trống')
GO
INSERT [dbo].[CALAMVIEC] ([MACA], [TENCA], [GIOBD], [GIOKT], [THU]) VALUES (N'C001', N'Ca 1', 6, 12, N'Thứ 2')
INSERT [dbo].[CALAMVIEC] ([MACA], [TENCA], [GIOBD], [GIOKT], [THU]) VALUES (N'C002', N'Ca 2', 12, 17, N'Thứ 2')
INSERT [dbo].[CALAMVIEC] ([MACA], [TENCA], [GIOBD], [GIOKT], [THU]) VALUES (N'C003', N'Ca 3', 17, 22, N'Thứ 2')
GO
INSERT [dbo].[CHITIETHD] ([MASP], [MAHD], [THANHTIEN], [SL], [GIAMGIA]) VALUES (N'SP001', N'HD05', 24000, 2, 19200)
INSERT [dbo].[CHITIETHD] ([MASP], [MAHD], [THANHTIEN], [SL], [GIAMGIA]) VALUES (N'SP002', N'HD04', 30000, 2, 30000)
INSERT [dbo].[CHITIETHD] ([MASP], [MAHD], [THANHTIEN], [SL], [GIAMGIA]) VALUES (N'SP003', N'HD05', 440000, 22, 440000)
GO
INSERT [dbo].[CHITIETHDN] ([MANL], [MAHDNHAP], [SOLUONGNHAP], [THANHTIENNHAP]) VALUES (N'NL01', N'HDN02', 2, 100000)
INSERT [dbo].[CHITIETHDN] ([MANL], [MAHDNHAP], [SOLUONGNHAP], [THANHTIENNHAP]) VALUES (N'NL01', N'HDN04', 2, 100000)
INSERT [dbo].[CHITIETHDN] ([MANL], [MAHDNHAP], [SOLUONGNHAP], [THANHTIENNHAP]) VALUES (N'NL01', N'HDN07', 40, 2000000)
GO
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'PV', N'Phục vụ')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'PC', N'Pha chế')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'TN', N'Thu ngân')
GO
INSERT [dbo].[DUOCKHUYENMAI] ([MASP], [MAKM], [NGAYBD], [NGAYKT], [ID]) VALUES (N'SP004', N'KM001', CAST(N'2020-01-01' AS Date), CAST(N'2020-01-08' AS Date), N'ID03')
INSERT [dbo].[DUOCKHUYENMAI] ([MASP], [MAKM], [NGAYBD], [NGAYKT], [ID]) VALUES (N'SP008', N'KM001', CAST(N'2020-01-01' AS Date), CAST(N'2020-01-08' AS Date), N'ID01')
INSERT [dbo].[DUOCKHUYENMAI] ([MASP], [MAKM], [NGAYBD], [NGAYKT], [ID]) VALUES (N'SP012', N'KM004', CAST(N'2022-03-08' AS Date), CAST(N'2022-03-08' AS Date), N'ID06')
GO
INSERT [dbo].[HOADON] ([MAHD], [MABAN], [MAKH], [MANV], [NGAYBAN], [TONGTIEN], [TINHTRANG]) VALUES (N'HD01', N'B02', N'KH01', N'NV004', CAST(N'2022-12-01' AS Date), 30000, N'Cũ')
INSERT [dbo].[HOADON] ([MAHD], [MABAN], [MAKH], [MANV], [NGAYBAN], [TONGTIEN], [TINHTRANG]) VALUES (N'HD02', N'B03', N'KH02', N'NV004', CAST(N'2022-12-01' AS Date), 638500, N'Cũ')
INSERT [dbo].[HOADON] ([MAHD], [MABAN], [MAKH], [MANV], [NGAYBAN], [TONGTIEN], [TINHTRANG]) VALUES (N'HD03', N'B04', N'KH03', N'NV004', CAST(N'2022-12-01' AS Date), 97000, N'Cũ')
GO
INSERT [dbo].[HOADONNHAP] ([MAHDNHAP], [MANCC], [MANV], [TONGTIENNHAP], [NGAYNHAP], [GHICHU]) VALUES (N'HDN01', N'NCC01', N'NV001', 4440000, CAST(N'2022-12-08' AS Date), N'Trống')
INSERT [dbo].[HOADONNHAP] ([MAHDNHAP], [MANCC], [MANV], [TONGTIENNHAP], [NGAYNHAP], [GHICHU]) VALUES (N'HDN02', N'NCC02', N'NV001', 2250000, CAST(N'2022-10-15' AS Date), N'Trống')
INSERT [dbo].[HOADONNHAP] ([MAHDNHAP], [MANCC], [MANV], [TONGTIENNHAP], [NGAYNHAP], [GHICHU]) VALUES (N'HDN03', N'NCC01', N'NV001', 3200000, CAST(N'2022-12-20' AS Date), N'Trống')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [PHAI], [SDTKH]) VALUES (N'KH01', N'Trần Ánh Linh', N'Nữ', N'0911395301')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [PHAI], [SDTKH]) VALUES (N'KH02', N'Lương Thùy Linh', N'Nữ', N'0911234561')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [PHAI], [SDTKH]) VALUES (N'KH03', N'Đoàn Vinh Quang', N'Nam', N'0947973484')
GO
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENSUKIEN], [NOIDUNG], [TILEKM]) VALUES (N'KM001', N'Tưng bừng khai trương', N'Giảm 20% các đồ uống Cafe ', 20)
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENSUKIEN], [NOIDUNG], [TILEKM]) VALUES (N'NV006', N'Khung Giờ Vàng', N'Giảm 17% khi ngủ', 17)
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENSUKIEN], [NOIDUNG], [TILEKM]) VALUES (N'KM003', N'Mừng ra mắt sản phẩm mới', N'Giảm 10% cho sản phẩm mới', 15)
GO
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'L001', N'Cafe')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'L002', N'Trà')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'L003', N'Đá xay')
GO
INSERT [dbo].[NGUYENLIEU] ([MANL], [TENNL], [SOLUONGCON], [HANSD], [DONGIA]) VALUES (N'NL01', N'Trà đen', 10, CAST(N'2023-10-12' AS Date), 50000)
INSERT [dbo].[NGUYENLIEU] ([MANL], [TENNL], [SOLUONGCON], [HANSD], [DONGIA]) VALUES (N'NL02', N'Cà phê bột', 10, CAST(N'2023-11-02' AS Date), 100000)
INSERT [dbo].[NGUYENLIEU] ([MANL], [TENNL], [SOLUONGCON], [HANSD], [DONGIA]) VALUES (N'NL03', N'Sữa đặc', 30, CAST(N'2023-05-05' AS Date), 60000)
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDTNCC], [DIACHINCC]) VALUES (N'NCC01', N'BakerLand', N'0947973484', N'Cách Mạng Tháng 8, Q4, TPHCM')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDTNCC], [DIACHINCC]) VALUES (N'NCC02', N'Sơn Việt coffe', N'0911395301', N'Kinh Đ.Dương, phường 13, Q6, TPHCM')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDTNCC], [DIACHINCC]) VALUES (N'NCC03', N'Buôn mê coffe', N'0858424288', N'Bình Trị Đông A, Bình Tân, TPHCM')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [MACV], [TENNV], [GIOITINH], [NGAYSINH], [SDT]) VALUES (N'NV001', N'QL', N'Trần Xuân Quỳnh Phương', N'Nữ', CAST(N'2002-11-15' AS Date), N'0987654321')
INSERT [dbo].[NHANVIEN] ([MANV], [MACV], [TENNV], [GIOITINH], [NGAYSINH], [SDT]) VALUES (N'NV002', N'QL', N'Mai Khả Hòa', N'Nam', CAST(N'2002-12-08' AS Date), N'0987654873')
INSERT [dbo].[NHANVIEN] ([MANV], [MACV], [TENNV], [GIOITINH], [NGAYSINH], [SDT]) VALUES (N'NV003', N'PV', N'Đỗ Huệ Mẫn', N'Nữ', CAST(N'2002-09-15' AS Date), N'0989814321')
GO
INSERT [dbo].[PHANCONG] ([MACA], [MANV]) VALUES (N'C021', N'NV001')
INSERT [dbo].[PHANCONG] ([MACA], [MANV]) VALUES (N'C001', N'NV002')
INSERT [dbo].[PHANCONG] ([MACA], [MANV]) VALUES (N'C015', N'NV002')
GO
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [TENSP], [SOLUONGCONLAI], [DONVITINH], [GIABAN], [HINHANH]) VALUES (N'SP001', N'L001', N'Cafe đá', 50, N'Ly', 12000, N'sp1.jpg')
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [TENSP], [SOLUONGCONLAI], [DONVITINH], [GIABAN], [HINHANH]) VALUES (N'SP002', N'L001', N'Cafe sữa', 50, N'Ly', 15000, N'sp3.JPG')
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [TENSP], [SOLUONGCONLAI], [DONVITINH], [GIABAN], [HINHANH]) VALUES (N'SP003', N'L001', N'Cafe sữa tươi', 22, N'Ly', 20000, N'sp3.jpg')
GO
INSERT [dbo].[TAIKHOAN] ([TENNGUOIDUNG], [MANV], [MATKHAU]) VALUES (N'admin', N'NV001', N'admin')
INSERT [dbo].[TAIKHOAN] ([TENNGUOIDUNG], [MANV], [MATKHAU]) VALUES (N'anh', N'NV004', N'anh789')
INSERT [dbo].[TAIKHOAN] ([TENNGUOIDUNG], [MANV], [MATKHAU]) VALUES (N'sang', N'NV005', N'sang123')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_BAN]    Script Date: 07/01/2023 8:34:26 SA ******/
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [PK_BAN] PRIMARY KEY NONCLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_CALAMVIEC]    Script Date: 07/01/2023 8:34:26 SA ******/
ALTER TABLE [dbo].[CALAMVIEC] ADD  CONSTRAINT [PK_CALAMVIEC] PRIMARY KEY NONCLUSTERED 
(
	[MACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CHITIETHD_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [CHITIETHD_FK] ON [dbo].[CHITIETHD]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CHITIETHD2_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [CHITIETHD2_FK] ON [dbo].[CHITIETHD]
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CHITIETHDN_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [CHITIETHDN_FK] ON [dbo].[CHITIETHDN]
(
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CHITIETHDN2_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [CHITIETHDN2_FK] ON [dbo].[CHITIETHDN]
(
	[MAHDNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_CHUCVU]    Script Date: 07/01/2023 8:34:26 SA ******/
ALTER TABLE [dbo].[CHUCVU] ADD  CONSTRAINT [PK_CHUCVU] PRIMARY KEY NONCLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CONGTHUCPHACHE_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [CONGTHUCPHACHE_FK] ON [dbo].[CONGTHUCPHACHE]
(
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CONGTHUCPHACHE2_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [CONGTHUCPHACHE2_FK] ON [dbo].[CONGTHUCPHACHE]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [DUOCKHUYENMAI_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [DUOCKHUYENMAI_FK] ON [dbo].[DUOCKHUYENMAI]
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [DUOCKHUYENMAI2_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [DUOCKHUYENMAI2_FK] ON [dbo].[DUOCKHUYENMAI]
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_HOADON]    Script Date: 07/01/2023 8:34:26 SA ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MUA_HANG_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [MUA_HANG_FK] ON [dbo].[HOADON]
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [THANH_TOAN_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [THANH_TOAN_FK] ON [dbo].[HOADON]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [THUOC__BAN_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [THUOC__BAN_FK] ON [dbo].[HOADON]
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_HOADONNHAP]    Script Date: 07/01/2023 8:34:26 SA ******/
ALTER TABLE [dbo].[HOADONNHAP] ADD  CONSTRAINT [PK_HOADONNHAP] PRIMARY KEY NONCLUSTERED 
(
	[MAHDNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CUNG_CAP_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [CUNG_CAP_FK] ON [dbo].[HOADONNHAP]
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [LAP_HOA__ON_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [LAP_HOA__ON_FK] ON [dbo].[HOADONNHAP]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 07/01/2023 8:34:26 SA ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_KHUYENMAI]    Script Date: 07/01/2023 8:34:26 SA ******/
ALTER TABLE [dbo].[KHUYENMAI] ADD  CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY NONCLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_LOAI]    Script Date: 07/01/2023 8:34:26 SA ******/
ALTER TABLE [dbo].[LOAI] ADD  CONSTRAINT [PK_LOAI] PRIMARY KEY NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_NGUYENLIEU]    Script Date: 07/01/2023 8:34:26 SA ******/
ALTER TABLE [dbo].[NGUYENLIEU] ADD  CONSTRAINT [PK_NGUYENLIEU] PRIMARY KEY NONCLUSTERED 
(
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_NHACUNGCAP]    Script Date: 07/01/2023 8:34:26 SA ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY NONCLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 07/01/2023 8:34:26 SA ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CO_CHUC_VU_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [CO_CHUC_VU_FK] ON [dbo].[NHANVIEN]
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PHANCONG_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [PHANCONG_FK] ON [dbo].[PHANCONG]
(
	[MACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PHANCONG2_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [PHANCONG2_FK] ON [dbo].[PHANCONG]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_SANPHAM]    Script Date: 07/01/2023 8:34:26 SA ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [PK_SANPHAM] PRIMARY KEY NONCLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [THUOC_LOAI_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [THUOC_LOAI_FK] ON [dbo].[SANPHAM]
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_TAIKHOAN]    Script Date: 07/01/2023 8:34:26 SA ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[TENNGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CO_TAI_KHOAN_FK]    Script Date: 07/01/2023 8:34:26 SA ******/
CREATE NONCLUSTERED INDEX [CO_TAI_KHOAN_FK] ON [dbo].[TAIKHOAN]
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CHITIETHD_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETH_CHITIETHD_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CHITIETHD_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETH_CHITIETHD_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CHITIETHD_HOADONNH] FOREIGN KEY([MAHDNHAP])
REFERENCES [dbo].[HOADONNHAP] ([MAHDNHAP])
GO
ALTER TABLE [dbo].[CHITIETHDN] CHECK CONSTRAINT [FK_CHITIETH_CHITIETHD_HOADONNH]
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CHITIETHD_NGUYENLI] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
ALTER TABLE [dbo].[CHITIETHDN] CHECK CONSTRAINT [FK_CHITIETH_CHITIETHD_NGUYENLI]
GO
ALTER TABLE [dbo].[CONGTHUCPHACHE]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_CONGTHUCP_NGUYENLI] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
ALTER TABLE [dbo].[CONGTHUCPHACHE] CHECK CONSTRAINT [FK_CONGTHUC_CONGTHUCP_NGUYENLI]
GO
ALTER TABLE [dbo].[CONGTHUCPHACHE]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_CONGTHUCP_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CONGTHUCPHACHE] CHECK CONSTRAINT [FK_CONGTHUC_CONGTHUCP_SANPHAM]
GO
ALTER TABLE [dbo].[DUOCKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_DUOCKHUY_DUOCKHUYE_KHUYENMA] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[DUOCKHUYENMAI] CHECK CONSTRAINT [FK_DUOCKHUY_DUOCKHUYE_KHUYENMA]
GO
ALTER TABLE [dbo].[DUOCKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_DUOCKHUY_DUOCKHUYE_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[DUOCKHUYENMAI] CHECK CONSTRAINT [FK_DUOCKHUY_DUOCKHUYE_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_MUA_HANG_KHACHHAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_MUA_HANG_KHACHHAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_THANH_TOA_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_THANH_TOA_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_THUOC__BA_BAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_THUOC__BA_BAN]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNH_CUNG_CAP_NHACUNGC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNH_CUNG_CAP_NHACUNGC]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNH_LAP_HOA___NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNH_LAP_HOA___NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CO_CHUC_V_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CO_CHUC_V_CHUCVU]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_PHANCONG_CALAMVIE] FOREIGN KEY([MACA])
REFERENCES [dbo].[CALAMVIEC] ([MACA])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_PHANCONG_CALAMVIE]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_PHANCONG2_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_PHANCONG2_NHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_THUOC_LOA_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_THUOC_LOA_LOAI]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_CO_TAI_KH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_CO_TAI_KH_NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[aCTHD]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[aCTHD] @TenSP nvarchar(50), @TongTien varchar(20)
as
	declare @idsp varchar(20) = (select MASP from SANPHAM where TENSP=@tensp)
	if exists( select * from  DUOCKHUYENMAI d where d.MASP=@idsp)
	begin
		declare @tile int = (select TILEKM from KHUYENMAI k, DUOCKHUYENMAI d where d.MAKM=k.MAKM and d.MASP= @idsp)

		select   @TongTien- ((@TongTien*@tile)/100) as 'Sale'
		

	end
	else
	begin
		select   @TongTien as 'Sale'
		
	end
GO
/****** Object:  StoredProcedure [dbo].[allMKM]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[allMKM]
as
	select MAKM
	from KHUYENMAI
GO
/****** Object:  StoredProcedure [dbo].[allSP_DKM]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[allSP_DKM]
as
	select TENSP
	from SANPHAM
GO
/****** Object:  StoredProcedure [dbo].[capNhatCTHDN]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[capNhatCTHDN] @mahdn varchar(10)
as
	update CHITIETHDN set THANHTIENNHAP=SOLUONGNHAP*(select DONGIA from NGUYENLIEU where MANL=CHITIETHDN.MANL) 
	where MAHDNHAP=@mahdn
GO
/****** Object:  StoredProcedure [dbo].[capnhatHDN]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[capnhatHDN] @mahdn varchar(10)
as
	update HOADONNHAP set TONGTIENNHAP=(select sum(THANHTIENNHAP) from CHITIETHDN where MAHDNHAP=HOADONNHAP.MAHDNHAP) 
	where MAHDNHAP=@mahdn
GO
/****** Object:  StoredProcedure [dbo].[capNhatNguyenLieu]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[capNhatNguyenLieu]
(
	@ten nvarchar(30),
	@sl int,
	@hsd date,
	@dg float,
	@ma varchar(10)
)
AS
	SET NOCOUNT OFF;
update NGUYENLIEU set TENNL=@ten, SOLUONGCON=@sl, HANSD=@hsd, DONGIA=@dg where MANL=@ma

/****** Object:  StoredProcedure [dbo].[hienThiChiTietHoaDonNhap]    Script Date: 1/4/2023 12:43:05 PM ******/
SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[CongViec]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CongViec] 
as
	select TENCV
	from CHUCVU
GO
/****** Object:  StoredProcedure [dbo].[DonGiaSP]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------------------------------------------------------
CREATE proc [dbo].[DonGiaSP] @tensp nvarchar(50)
as
	select * from SANPHAM where TENSP=@tensp
GO
/****** Object:  StoredProcedure [dbo].[DuocKM]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DuocKM]
as
	select ID,d.MAKM,TENSP, TENSUKIEN,NOIDUNG, NGAYBD, NGAYKT
	from DUOCKHUYENMAI d, KHUYENMAI k, SANPHAM s
	where d.MAKM=k.MAKM and d.MASP=s.MASP
GO
/****** Object:  StoredProcedure [dbo].[hienThiChiTietHoaDonNhap]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[hienThiChiTietHoaDonNhap]
(
	@MA varchar(10)
)
AS
	SET NOCOUNT ON;
SELECT MANL, MAHDNHAP, SOLUONGNHAP, THANHTIENNHAP
FROM     CHITIETHDN
WHERE  (MAHDNHAP = @MA)

/****** Object:  StoredProcedure [dbo].[hienThiDSHoaDonNhap]    Script Date: 1/4/2023 12:43:18 PM ******/
SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[hienThiDSHoaDonNhap]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--proc hiển thị danh sách hóa đơn nhập
CREATE proc [dbo].[hienThiDSHoaDonNhap]
as
begin
	select * from HOADONNHAP
end

/****** Object:  StoredProcedure [dbo].[hienThiDSNguyenLieu]    Script Date: 1/4/2023 12:43:33 PM ******/
SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[hienThiDSNguyenLieu]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[hienThiDSNguyenLieu]
as
begin
	select * from NGUYENLIEU
end

/****** Object:  StoredProcedure [dbo].[procCapNhatHoaDonNhap]    Script Date: 1/4/2023 12:43:44 PM ******/
SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[loadB]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[loadB]
as
	select *
	from Ban
GO
/****** Object:  StoredProcedure [dbo].[loadBan]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[loadBan] @tenb nvarchar(20)
as
	select *
	from Ban
	where TENBAN=@tenb
GO
/****** Object:  StoredProcedure [dbo].[loadCNV]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[loadCNV] @idcv varchar(10)
as
	select *
	from NHANVIEN
	where MACV=@idcv
GO
/****** Object:  StoredProcedure [dbo].[loadSPKMMM]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[loadSPKMMM] @idKM varchar(20)
as
	select ID, d.MAKM, s.TENSP, k.TENSUKIEN,k.NOIDUNG,d.NGAYBD,d.NGAYKT
	from DUOCKHUYENMAI d, SANPHAM s,KHUYENMAI k
	where d.MASP=s.MASP and k.MAKM=d.MAKM and k.MAKM=@idKM
GO
/****** Object:  StoredProcedure [dbo].[MaNCCC]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MaNCCC] 
as
	select MANCC
	from NHACUNGCAP
GO
/****** Object:  StoredProcedure [dbo].[MaNL]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MaNL]
as
	select MANL from NGUYENLIEU
GO
/****** Object:  StoredProcedure [dbo].[MaNV]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MaNV]
as
	select MANV from NHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[procCapNhatHoaDonNhap]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procCapNhatHoaDonNhap]
(
	@NCC varchar(10),
	@NV varchar(10),
	@TIEN float,
	@NGAY date,
	@GC nvarchar(30),
	@HDN varchar(10)
)
AS
	SET NOCOUNT OFF;
UPDATE HOADONNHAP SET MANCC=@NCC, MANV=@NV, TONGTIENNHAP=@TIEN, NGAYNHAP=@NGAY, GHICHU=@GC WHERE MAHDNHAP=@HDN

/****** Object:  StoredProcedure [dbo].[procCapNhatNguyenLieu]    Script Date: 1/4/2023 12:44:00 PM ******/
SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[procCapNhatNguyenLieu]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procCapNhatNguyenLieu]
(
	@TEN nvarchar(30),
	@SL int,
	@HSD date,
	@DG float,
	@MA varchar(10)
)
AS
	SET NOCOUNT OFF;
UPDATE NGUYENLIEU SET TENNL=@TEN, SOLUONGCON=@SL, HANSD=@HSD, DONGIA=@DG WHERE MANL=@MA

/****** Object:  StoredProcedure [dbo].[procHienThiChiTietHoaDonNhap]    Script Date: 1/4/2023 12:44:16 PM ******/
SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[procHienThiChiTietHoaDonNhap]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procHienThiChiTietHoaDonNhap]
(
	@MA varchar(10)
)
AS
	SET NOCOUNT ON;
SELECT MANL, MAHDNHAP, SOLUONGNHAP, THANHTIENNHAP FROM dbo.CHITIETHDN WHERE MAHDNHAP=@MA

/****** Object:  StoredProcedure [dbo].[procXoaHoaDonNhap]    Script Date: 1/4/2023 12:44:27 PM ******/
SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[procXoaHoaDonNhap]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procXoaHoaDonNhap]
(
	@ma varchar(10)
)
AS
	SET NOCOUNT OFF;
delete HOADONNHAP where MAHDNHAP=@ma

/****** Object:  StoredProcedure [dbo].[procXoaNguyenLieu]    Script Date: 1/4/2023 12:44:38 PM ******/
SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[procXoaNguyenLieu]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procXoaNguyenLieu]
(
	@ma varchar(10)
)
AS
	SET NOCOUNT OFF;
delete NGUYENLIEU where MANL=@ma
GO
/****** Object:  StoredProcedure [dbo].[sesssion]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sesssion] @ten varchar(20)
as
	select MANV
	from TAIKHOAN 
	where TENNGUOIDUNG =@ten
GO
/****** Object:  StoredProcedure [dbo].[SuaCTHD]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SuaCTHD] @maHD varchar(20), @tensp nvarchar(50), @sl varchar(50), @giam varchar(20),@tong varchar(20)
as
	declare @idsp varchar(20) = (select MASP from SANPHAM where TENSP=@tensp)

	update CHITIETHD set SL=@sl,THANHTIEN=@tong,GIAMGIA=@giam where MASP=@idsp and MAHD=@maHD
-----------------------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[suaKM]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[suaKM] @makm varchar(20), @tensk nvarchar(50), @noidung nvarchar(50), @tile varchar(20)
as
	update KHUYENMAI set  TENSUKIEN= @tensk, NOIDUNG=@noidung, TILEKM=@tile where MAKM=@makm
GO
/****** Object:  StoredProcedure [dbo].[SuaNV]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SuaNV] @manv varchar(20), @macv varchar(20),@tennv nvarchar(50), @gioitinh nvarchar(10), @ngaysinh varchar(20), @sdt varchar(20)
as
	set dateformat dmy
	update NHANVIEN set MACV=@macv,TENNV=@tennv, GIOITINH=@gioitinh,NGAYSINH=@ngaysinh, SDT=@sdt where MANV=@manv
GO
/****** Object:  StoredProcedure [dbo].[suaSPKM]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[suaSPKM] @idd varchar(10), @makm varchar(10), @tenspkm nvarchar(10), @ngaybd varchar(20), @ngaykt  varchar(20)
as
	declare @idsp varchar(20) = (select MASP from SANPHAM where TENSP=@tenspkm)
	set dateformat dmy
	update DUOCKHUYENMAI set MASP=@idsp,MAKM=@makm, NGAYBD=@ngaybd, NGAYKT=@ngaykt where ID=@idd
GO
/****** Object:  StoredProcedure [dbo].[ThemCTHD]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThemCTHD] @maHD varchar(20), @tensp nvarchar(50), @sl varchar(50), @giam varchar(20),@tong varchar(20)
as
	declare @idsp varchar(20) = (select MASP from SANPHAM where TENSP=@tensp)
	if exists (select * from CHITIETHD where MASP=@idsp and MAHD=@maHD)
	begin
		update CHITIETHD set SL=SL+@sl,THANHTIEN=THANHTIEN+@tong,GIAMGIA=GIAMGIA+@giam where MASP=@idsp and MAHD=@maHD
	end
	else
	begin
		insert into CHITIETHD values (@idsp,@maHD,@tong,@sl,@giam)
	end
GO
/****** Object:  StoredProcedure [dbo].[themHD]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[themHD] @mab varchar(10),@tenkh nvarchar(50), @phai nvarchar(20), @sdt varchar(20),@manv varchar(10),@ngay varchar(20)
as
--thêm kh
		Declare @ID varchar(10)
		if not exists (select * from KHACHHANG) 
			Set @ID =1
		else
			Set @ID =(select RIGHT(MAX(MAKH),2) from KHACHHANG)+1
		Set @ID='KH'+REPLICATE('0',2-LEN(@ID))+@ID
		insert into KHACHHANG values (@ID,@tenkh,@phai,@sdt)

--Tao hd
		set dateformat dmy
		insert into HOADON values ('0',@mab,@ID,@manv,@ngay,NULL,N'Mới')
GO
/****** Object:  StoredProcedure [dbo].[themKH]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[themKH] @tenkh nvarchar(50), @phai nvarchar(20), @sdt varchar(20)
as
	insert into KHACHHANG values ('0',@tenkh,@phai,@sdt)
GO
/****** Object:  StoredProcedure [dbo].[themKM]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[themKM] @tensk nvarchar(50), @noidung nvarchar(50), @tile varchar(20)
as
	insert into KHUYENMAI values('00',@tensk,@noidung,@tile)
GO
/****** Object:  StoredProcedure [dbo].[themNV]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[themNV] @macv varchar(20),@tennv nvarchar(50), @gioitinh nvarchar(10), @ngaysinh varchar(20), @sdt varchar(20)
as
	
	set dateformat dmy
	insert into NHANVIEN values ('0',@macv,@tennv,@gioitinh,@ngaysinh,@sdt)
----------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[themSPKM]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[themSPKM] @makm varchar(10), @tenspkm nvarchar(100), @ngaybd varchar(20), @ngaykt  varchar(20)
as
	declare @idsp varchar(20) = (select MASP from SANPHAM where TENSP=@tenspkm)
	set dateformat dmy
	insert into DUOCKHUYENMAI values (@idsp, @makm,@ngaybd,@ngaykt,'0')
GO
/****** Object:  StoredProcedure [dbo].[ThongTinCTHD]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[ThongTinCTHD] @maHD varchar(20)
as
	select TENSP,s.GIABAN,SL,s.GIABAN*SL as 'TONGTIEN',c.GIAMGIA
	from SANPHAM s, CHITIETHD c, HOADON h
	where s.MASP=c.MASP and h.MAHD = c.MAHD and c.MAHD=@maHD
GO
/****** Object:  StoredProcedure [dbo].[ThongTinHD]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThongTinHD]
as	
	select b.TENBAN,h.TONGTIEN,h.TINHTRANG,h.MAHD, k.TENKH, NGAYBAN
	from HOADON h,BAN b,KHACHHANG k,SANPHAM s
	where b.MABAN=h.MABAN and k.MAKH = h.MAKH 
	group by  h.MAHD,b.TENBAN,k.TENKH, NGAYBAN,h.TONGTIEN,h.TINHTRANG
	ORDER BY h.TINHTRANG DESC 
GO
/****** Object:  StoredProcedure [dbo].[ThongTinKhuyenMai]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--KHUYẾN MÃI
Create proc [dbo].[ThongTinKhuyenMai]
as
	select *
	from KHUYENMAI
GO
/****** Object:  StoredProcedure [dbo].[ThongTinKhuyenMai1]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThongTinKhuyenMai1]
as
	select MAKM,TENSUKIEN,NOIDUNG
	from KHUYENMAI
GO
/****** Object:  StoredProcedure [dbo].[ThongTinTenCV]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThongTinTenCV] @macv varchar(20)
as
	select TENCV
	from CHUCVU
	where MACV=@macv
GO
/****** Object:  StoredProcedure [dbo].[ThongTinTenCV1]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------------
CREATE proc [dbo].[ThongTinTenCV1] @tencv nvarchar(20)
as
	select MACV
	from CHUCVU
	where TENCV=@tencv
GO
/****** Object:  StoredProcedure [dbo].[ThonTinCV]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThonTinCV]
as
	select *
	from CHUCVU
GO
/****** Object:  StoredProcedure [dbo].[ThonTinNV]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThonTinNV]
as
	select *
	from NHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[tinhtrangban]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[tinhtrangban]  @tenb nvarchar(20)
as
	update BAN set TINHTRANG=N'Hoạt động' where TENBAN=@tenb
GO
/****** Object:  StoredProcedure [dbo].[tinhtrangbanTrong]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tinhtrangbanTrong]  @tenb nvarchar(20)
as
	update BAN set TINHTRANG=N'Trống' where TENBAN=@tenb
GO
/****** Object:  StoredProcedure [dbo].[tinhtrangHD]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[tinhtrangHD] @idhd varchar(20)
as
	update HOADON set TINHTRANG =N'Cũ' where MAHD=@idhd
GO
/****** Object:  StoredProcedure [dbo].[TongTienHD]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TongTienHD] @maHD varchar(20)
as
	select b.TENBAN,k.TENKH,k.SDTKH,h.TONGTIEN
	from HOADON h,BAN b,KHACHHANG k
	where h.MAHD=@mahd and b.MABAN=h.MABAN and k.MAKH=h.MAKH
GO
/****** Object:  StoredProcedure [dbo].[xoaChiTietHoaDonNhap]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[xoaChiTietHoaDonNhap]
(
	@NL varchar(10),
	@HDN varchar(10)
)
AS
	SET NOCOUNT OFF;
DELETE CHITIETHDN WHERE MANL=@NL AND MAHDNHAP=@HDN
GO
/****** Object:  StoredProcedure [dbo].[XoaCTHD]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[XoaCTHD] @maHD varchar(20), @tensp nvarchar(50)
as
	declare @idsp varchar(20) = (select MASP from SANPHAM where TENSP=@tensp)

	delete from CHITIETHD where MAHD=@maHD and MASP=@idsp
GO
/****** Object:  StoredProcedure [dbo].[XoaKM]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[XoaKM] @makm varchar(20)
as
	delete from KHUYENMAI where MAKM=@makm
GO
/****** Object:  StoredProcedure [dbo].[XoaNV]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[XoaNV] @manv varchar(20)
as
	delete from NHANVIEN where MANV=@manv
GO
/****** Object:  StoredProcedure [dbo].[xoaSPKhuyenMai]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[xoaSPKhuyenMai] @idKM varchar(20)
as
	delete from DUOCKHUYENMAI where ID=@idKM
GO
/****** Object:  Trigger [dbo].[capnhapDelHD]    Script Date: 07/01/2023 8:34:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[capnhapDelHD]
on [dbo].[CHITIETHD]
after delete
as
begin
	declare @aa int=(select sum(GIAMGIA) from CHITIETHD c where MAHD=(select MAHD from deleted))
	update HOADON set TONGTIEN =@aa where MAHD=(select MAHD from deleted)
end
GO
ALTER TABLE [dbo].[CHITIETHD] ENABLE TRIGGER [capnhapDelHD]
GO
/****** Object:  Trigger [dbo].[capnhapIsHD]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[capnhapIsHD]
on [dbo].[CHITIETHD]
after insert
as
begin
	declare @aa int=(select sum(GIAMGIA) from CHITIETHD c where MAHD=(select MAHD from inserted))
	update HOADON set TONGTIEN =@aa where MAHD=(select MAHD from inserted)
end
GO
ALTER TABLE [dbo].[CHITIETHD] ENABLE TRIGGER [capnhapIsHD]
GO
/****** Object:  Trigger [dbo].[capnhapUdHD]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[capnhapUdHD]
on [dbo].[CHITIETHD]
after update
as
begin
	declare @aa int=(select sum(GIAMGIA) from CHITIETHD c where MAHD=(select MAHD from inserted))
	update HOADON set TONGTIEN =@aa where MAHD=(select MAHD from inserted)
end
GO
ALTER TABLE [dbo].[CHITIETHD] ENABLE TRIGGER [capnhapUdHD]
GO
/****** Object:  Trigger [dbo].[capNhatThanhTien]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[capNhatThanhTien] 
on [dbo].[CHITIETHDN]
after insert, update
as
	declare @maHDN varchar(10)
	set @maHDN=(select MAHDNHAP from inserted)
	update CHITIETHDN set THANHTIENNHAP=SOLUONGNHAP*(select DONGIA from NGUYENLIEU where MANL=CHITIETHDN.MANL) where MAHDNHAP=@maHDN
	update HOADONNHAP set TONGTIENNHAP=(select sum(THANHTIENNHAP) from CHITIETHDN where MAHDNHAP=HOADONNHAP.MAHDNHAP) where MAHDNHAP=@maHDN
GO
ALTER TABLE [dbo].[CHITIETHDN] ENABLE TRIGGER [capNhatThanhTien]
GO
/****** Object:  Trigger [dbo].[capNhatThanhTien_delete]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create trigger [dbo].[capNhatThanhTien_delete]
on [dbo].[CHITIETHDN]
after delete
as
	declare @maHDN varchar(10)
	set @maHDN=(select MAHDNHAP from deleted)
	update CHITIETHDN set THANHTIENNHAP=SOLUONGNHAP*(select DONGIA from NGUYENLIEU where MANL=CHITIETHDN.MANL) where MAHDNHAP=@maHDN
	update HOADONNHAP set TONGTIENNHAP=(select sum(THANHTIENNHAP) from CHITIETHDN where MAHDNHAP=HOADONNHAP.MAHDNHAP) where MAHDNHAP=@maHDN
GO
ALTER TABLE [dbo].[CHITIETHDN] ENABLE TRIGGER [capNhatThanhTien_delete]
GO
/****** Object:  Trigger [dbo].[autoIDDUOCKHUYENMAI]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[autoIDDUOCKHUYENMAI]
on [dbo].[DUOCKHUYENMAI]
after insert
as
begin
		Declare @ID varchar(10)
		if not exists (select * from DUOCKHUYENMAI) 
			Set @ID =1
		else
			Set @ID =(select RIGHT(MAX(ID),2) from DUOCKHUYENMAI)+1
		Set @ID='ID'+REPLICATE('0',2-LEN(@ID))+@ID
		
		update DUOCKHUYENMAI set ID=@ID where ID=(select ID from inserted)
	end
GO
ALTER TABLE [dbo].[DUOCKHUYENMAI] ENABLE TRIGGER [autoIDDUOCKHUYENMAI]
GO
/****** Object:  Trigger [dbo].[autoIDHoaDon]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------
create trigger [dbo].[autoIDHoaDon]
on [dbo].[HOADON]
after insert
as
begin
		Declare @ID varchar(10)
		if not exists (select * from HOADON) 
			Set @ID =1
		else
			Set @ID =(select RIGHT(MAX(MAHD),2) from HOADON)+1
		Set @ID='HD'+REPLICATE('0',2-LEN(@ID))+@ID
		
		update HOADON set MAHD=@ID where MAHD=(select MAHD from inserted)
	end
GO
ALTER TABLE [dbo].[HOADON] ENABLE TRIGGER [autoIDHoaDon]
GO
/****** Object:  Trigger [dbo].[ttBan]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[ttBan]
on [dbo].[HOADON]
after insert
as
begin
	update BAN set TINHTRANG =N'Hoạt động' where MABAN=(select MABAN from inserted)
end
GO
ALTER TABLE [dbo].[HOADON] ENABLE TRIGGER [ttBan]
GO
/****** Object:  Trigger [dbo].[themHoaDonNhap]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--trigger thêm hóa đơn nhập mã tự động tăng
create trigger [dbo].[themHoaDonNhap] on [dbo].[HOADONNHAP]
 after insert
 as
 begin
  Declare @MaHDN varchar(10)
  if not exists (select * from HOADONNHAP) 
   Set @MaHDN=1
  else
   Set @MaHDN=(select RIGHT(MAX(MAHDNHAP),2) from HOADONNHAP)+1
  Set @MaHDN='HDN'+REPLICATE('0',2-LEN(@MaHDN))+@MaHDN
  update HOADONNHAP set MAHDNHAP=@MaHDN where MAHDNHAP=(select MAHDNHAP from inserted)
 end
GO
ALTER TABLE [dbo].[HOADONNHAP] ENABLE TRIGGER [themHoaDonNhap]
GO
/****** Object:  Trigger [dbo].[xoaHoaDonNhap]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--trigger xóa hóa đơn nhập
create trigger [dbo].[xoaHoaDonNhap] on [dbo].[HOADONNHAP]
instead of delete
as
	begin
		declare @mahd varchar(10)
		set @mahd=(select MAHDNHAP from deleted)
		delete CHITIETHDN where MAHDNHAP=@mahd
		delete HOADONNHAP where MAHDNHAP=@mahd
	end
GO
ALTER TABLE [dbo].[HOADONNHAP] ENABLE TRIGGER [xoaHoaDonNhap]
GO
/****** Object:  Trigger [dbo].[autoIDKhuyenMai]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------------
create trigger [dbo].[autoIDKhuyenMai]
on [dbo].[KHUYENMAI]
after insert
as
begin
		Declare @MaKM varchar(10)
		if not exists (select * from KHUYENMAI) 
			Set @MaKM =1
		else
			Set @MaKM =(select RIGHT(MAX(MAKM),3) from KHUYENMAI)+1
		Set @MaKM='KM'+REPLICATE('0',3-LEN(@MaKM))+@MaKM
		
		update KHUYENMAI set MAKM=@MaKM where MAKM=(select MAKM from inserted)
	end
GO
ALTER TABLE [dbo].[KHUYENMAI] ENABLE TRIGGER [autoIDKhuyenMai]
GO
/****** Object:  Trigger [dbo].[XoaKhuyenMai]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[XoaKhuyenMai]
on [dbo].[KHUYENMAI]
instead of delete
as
	declare @idkm varchar(20)= (select MAKM from deleted)
	
	delete from DUOCKHUYENMAI  where MAKM=@idkm
	delete from KHUYENMAI where MAKM=@idkm
GO
ALTER TABLE [dbo].[KHUYENMAI] ENABLE TRIGGER [XoaKhuyenMai]
GO
/****** Object:  Trigger [dbo].[Them_1LoaiSP]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--trigger tự động tăng mã loại khi thêm 1 loại sản phẩm mới
create trigger [dbo].[Them_1LoaiSP] on [dbo].[LOAI]
for insert 
as
	begin
		Declare @maloai varchar(10)
		if not exists (select * from LOAI)
			Set @maloai =1
		else
			Set @maloai =(select RIGHT(MAX(MALOAI), 2) from LOAI)+1

		Set @maloai ='L' + REPLICATE('0',3 - LEN(@maloai))+ @maloai
		update LOAI set MALOAI = @maloai where MALOAI = (select MALOAI from inserted )
	end
GO
ALTER TABLE [dbo].[LOAI] ENABLE TRIGGER [Them_1LoaiSP]
GO
/****** Object:  Trigger [dbo].[themNguyenLieu]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--trigger thêm nguyên liệu mã tự động tăng
create trigger [dbo].[themNguyenLieu] on [dbo].[NGUYENLIEU]
 after insert
 as
 begin
  Declare @MaNL varchar(10)
  if not exists (select * from NGUYENLIEU) 
   Set @MaNL=1
  else
   Set @MaNL=(select RIGHT(MAX(MANL),2) from NGUYENLIEU)+1
  Set @MaNL='NL'+REPLICATE('0',2-LEN(@MaNL))+@MaNL
  update NGUYENLIEU set MANL=@MaNL where MANL=(select MANL from inserted)
 end
GO
ALTER TABLE [dbo].[NGUYENLIEU] ENABLE TRIGGER [themNguyenLieu]
GO
/****** Object:  Trigger [dbo].[xoaNguyenLieu]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--trigger xóa nguyên liệu
create trigger [dbo].[xoaNguyenLieu] on [dbo].[NGUYENLIEU]
instead of delete
as
	begin
		declare @manl varchar(10)
		set @manl=(select MANL from deleted)
		update CONGTHUCPHACHE set MANL=null where MANL=@manl
		update CHITIETHDN set MANL=null where MANL=@manl
		delete NGUYENLIEU where MANL=@manl
	end
GO
ALTER TABLE [dbo].[NGUYENLIEU] ENABLE TRIGGER [xoaNguyenLieu]
GO
/****** Object:  Trigger [dbo].[Them_1NCC]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--trigger tự động tăng mã nhà cung cấp khi thêm 1 nhà cung cấpm mới
create trigger [dbo].[Them_1NCC] on [dbo].[NHACUNGCAP]
for insert 
as
	begin
		Declare @mancc varchar(10)
		if not exists (select * from NHACUNGCAP)
			Set @mancc =1
		else
			Set @mancc =(select RIGHT(MAX(MANCC), 1) from NHACUNGCAP)+1

		Set @mancc ='NCC' + REPLICATE('0',2 - LEN(@mancc))+ @mancc
		update NHACUNGCAP set MANCC = @mancc where MANCC = (select MANCC from inserted )
	end

GO
ALTER TABLE [dbo].[NHACUNGCAP] ENABLE TRIGGER [Them_1NCC]
GO
/****** Object:  Trigger [dbo].[autoIDNhanVien]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[autoIDNhanVien] 
on [dbo].[NHANVIEN]
after insert
as
begin
		Declare @MaNV varchar(10)
		if not exists (select * from NHANVIEN) 
			Set @MaNV =1
		else
			Set @MaNV =(select RIGHT(MAX(MANV),3) from NHANVIEN)+1
		Set @MaNV ='NV'+REPLICATE('0',3-LEN(@MaNV))+@MaNV 
		
		update NHANVIEN set MANV=@MaNV  where MANV=(select MANV from inserted)
	end
GO
ALTER TABLE [dbo].[NHANVIEN] ENABLE TRIGGER [autoIDNhanVien]
GO
/****** Object:  Trigger [dbo].[XoaPhanCong]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create trigger [dbo].[XoaPhanCong]
on [dbo].[NHANVIEN]
instead of delete
as
	declare @idnv varchar(20)= (select MANV from deleted)

	update  PHANCONG set MANV=NULL where MANV=@idnv
	update  HOADON set MANV=NULL where MANV=@idnv
	update  HOADONNHAP set MANV=NULL where MANV=@idnv
	update  TAIKHOAN set MANV=NULL where MANV=@idnv
	delete from NHANVIEN where MANV=@idnv
GO
ALTER TABLE [dbo].[NHANVIEN] ENABLE TRIGGER [XoaPhanCong]
GO
/****** Object:  Trigger [dbo].[Them_1SP]    Script Date: 07/01/2023 8:34:27 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--trigger tự động tăng mã sản phẩm khi thêm 1 sản phẩm mới
create trigger [dbo].[Them_1SP] on [dbo].[SANPHAM]
for insert 
as
	begin
		Declare @masp varchar(10)
		if not exists (select * from SANPHAM)
			Set @masp =1
		else
			Set @masp =(select RIGHT(MAX(MASP), 2) from SANPHAM)+1

		Set @masp ='SP' + REPLICATE('0',3 - LEN(@masp))+ @masp
		update SANPHAM set MASP = @masp where MASP = (select MASP from inserted )
	end

GO
ALTER TABLE [dbo].[SANPHAM] ENABLE TRIGGER [Them_1SP]
GO
USE [master]
GO
